# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Almhd.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Wissam\RiderProjects\Almhd\.idea\.idea.Almhd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
