@{
    Layout = "layouts/_main.cshtml";
}

<main class="container">
    <div class="category">
        <h1 class="h3 mb-5">CATEGORY_TITLE</h1>
            <div class="row">
                    <partial name="post/view-list.cshtml" />
            </div>
    </div>
</main>
