@using Almhd.Shared.Resources
@using Almhd.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@{
   Layout = "layouts/_main.cshtml";
   PostModel postModel = (PostModel)Model;
   var post = postModel.Post;
   string cover = postModel.Post.Cover;
}
<link rel="stylesheet" type="text/css" href="~/themes/standard/css/styles.css" />

<main class="post-detail" style="min-height:100%;margin-right: auto;width: Calc(100% - 60px - 1rem);background: #dde1ea;font-family: 'janna' !important;">
    <article class="post">

        <figure class="post-cover p-2" style="background: transparent;">
            <img class="post-cover-img shadow-sm" src="@cover" alt="@post.Title" aria-hidden="true">
        </figure>

        <div class="container mt-4">
            <header class="post-header post-container">

                        <h1 class="mb-5 text-bold" style="color: #4c3076;line-height: unset;font-family: theMixArab;">@post.Title</h1>


                    </header>

            <section class="post-content post-container m-0 pb-4" style="text-align: justify">
                @Html.Raw(post.Content)
            </section>
        </div>

    </article>

</main>
